################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudyLounge25/.vs/StudyLounge25
/.vs
