
<div class="container-fluid me-3 mt-3">
<div class="">
  <button mat-raised-button color="warn" class="me-2">
    <mat-icon>do_not_disturb_on</mat-icon>
    Delete
</button>
  <button mat-raised-button color="primary" (click)="studentAdd()"  class="">
    <mat-icon>add_circle</mat-icon>
    Add New
  </button>
  
</div>
    <table class="table mt-3">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.firstName }}</td>
          <td>{{ student.lastName }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.phoneNumber }}</td>
          <td>{{ student.status }}</td>
          <td>
            <mat-icon class="btn-sm" (click)="editStudent(student)">edit</mat-icon>
            <mat-icon id="iconColor" class="btn-sm" (click)="deleteStudent(student.studentId)">delete</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  