* Navbar */
mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  /* Desktop Menu */
  .desktop-menu {
    display: flex;
  }
  
  .desktop-menu button {
    margin: 0 10px;
  }
  
  /* Mobile Menu */
  .mobile-menu {
    display: none;
  }
  
  @media (max-width: 768px) {
    .desktop-menu {
      display: none;
    }
  
    .mobile-menu {
      display: block;
    }
  
    .sidenav {
      width: 250px;
    }
  }
  
