<!-- From Uiverse.io by Smit-Prajapati --> 
<div class="parent">
    <div class="card">
        <div class="content-box">
            <span class="card-title">{{data.studentName}}</span>
            <p class="card-content">
                I Confirm the payment of Rs {{data.amount}}. 
                <select class="form-control form-control-sm" style="border-color:none;">
                    <option>Select Mode</option>
                    <option>Cash</option>
                    <option>Gpay/Mpay</option>
                    <option>Transfer</option>


                </select>
            </p>
            <span class="see-more">Click To Confirm Payment 
            </span>
        </div>
        <div class="date-box">
            <span class="month">{{month_}}</span>
            <span class="date">
                {{day_}}
            </span>
        </div>
    </div>
  </div>