
<div class="container-fluid me-3 mt-3">
    <div class="">
      <button mat-raised-button color="warn" class="me-2">
        <mat-icon>do_not_disturb_on</mat-icon>
        Delete
      </button>
      <button mat-raised-button color="primary" (click)="assignmentAdd()" class="">
        <mat-icon>add_circle</mat-icon>
        Add New Assignment
      </button>
    </div>
  
    <!-- Table for displaying assignments -->
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>SNo.</th>
          <th>Student</th>
          <th>Cabin</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>TotalFee</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assignment of assignments;let i=index">
          <td>{{ i+1 }}</td>
          <td>{{ assignment.studentName }}</td>
          <td>{{ assignment.cabinName }}</td>
          <td>{{ assignment.startDate | date }}</td>
          <td>{{ assignment.endDate | date }}</td>
          <td>{{ assignment.amountToPay}}</td>
          <td>{{ assignment.assignmentStatus }}</td>
          <td>
            <div class="d-flex">
                <div class="example-button-container">
                    <!-- <button color="primary" mat-mini-fab aria-label="Example icon button with a menu icon">
                      <mat-icon>currency_rupee</mat-icon>
                    </button> -->
                    <button mat-raised-button color="primary" (click)="paymentAdd(assignment)" class="">
                        <mat-icon>currency_rupee</mat-icon>
                        Proceed To Payment
                      </button>
                </div>&nbsp;
                <div class="example-button-container">
                <button  color="primary" mat-mini-fab (click)="editAssignment(assignment)">
                    <mat-icon class="btn-sm" >edit</mat-icon>
                </button>
                </div>&nbsp;
                <div class="example-button-container">
                <button color="warn" mat-mini-fab  (click)="deleteAssignment(assignment.assignmentId)">
                    <mat-icon id=""  >delete</mat-icon>
                </button>
                </div>
            </div> 
        </td>
        </tr>
      </tbody>
    </table>
  </div>
  